[Unit]
Description=Canopy Cover Extractor
After=network.target

[Service]
User=extractor
Group=users
Restart=on-failure
WorkingDirectory=/home/extractor/extractors-stereo-rgb/canopycover
ExecStart=/usr/bin/python /home/extractor/extractors-stereo-rgb/canopycover/terra_canopycover.py

[Install]
WantedBy=multi-user.target
