[Unit]
Description=Stereo Image Bin2Tif Converter
After=network.target

[Service]
User=extractor
Group=users
Restart=on-failure
WorkingDirectory=/home/extractor/extractors-stereo-rgb/bin2tif
ExecStart=/usr/bin/python /home/extractor/extractors-stereo-rgb/bin2tif/terra_bin2tif.py

[Install]
WantedBy=multi-user.target
